# Python
__pycache__/
.pytest_cache/

# Environments
.venv/
.env

# Project specific (data and results)
results/*
!results/README.md

data/*
!data/README.md
!data/tiny/
!data/tiny/*.json

# IDEs
.idea/
.vscode/

# Other
.DS_Store
*.egg-info/
